doctype html
html
  head
    title Almundo
    link(rel="stylesheet" href="/almundo_app/static/css/main.css")
    
  body(data-ng-app="App")
    h1 Alumndo app
    first-comp(name="Almundo")
    script(src="/almundo_app/static/vendor/angular/angular.min.js")
    script(src="/almundo_app/static/js/app/app-pkg.js")
    script(src="/almundo_app/static/js/components/components-pkg.js")
